{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="-1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="static/assets/web/owl-carousel/dist/./assets/owl.carousel.css">
  <link rel="stylesheet" href="static/assets/web/owl-carousel/dist/./assets/owl.theme.default.min.css">
  <link rel="stylesheet" href="static/assets/web/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/assets/web/fontawesome/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="static/assets/web/css/slick.css">

  <link rel="stylesheet" href="static/assets/web/css/style.css_v=1.0.css">
  <link rel="icon" href="static/assets/web/images/favicon.png" type="image/x-icon">

  <title>Krinik In - Play Fantasy Sports Online | Download App & Win
    Daily</title>

  <meta name=title content="Team11 - Play Fantasy Sports Online | Download App & Win Daily">
  <meta name=description
    content="Play Fantasy Cricket Online to win big rewards daily. Download the Fantasy Sports App, Join contest & win real cash daily. Join Now!">
  <meta property=og:locale content=en_US>
  <meta property=og:title content="Team11 - Play Fantasy Sports Online | Download App & Win Daily">
  <meta property=og:description
    content="Play Fantasy Cricket Online to win big rewards daily. Download the Fantasy Sports App, Join contest & win real cash daily. Join Now!">
  <meta property=og:type content=website>
  <meta property=og:url content=https://Team11.in />
  <meta property=og:site_name content="Team11">
  <meta property=article:publisher content=https://www.facebook.com/Team11official />
  <meta property="og:image" content="./assets/web/images/logo.png" />
  <meta property="og:image:width" content="1919" />
  <meta property="og:image:height" content="936" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name=twitter:site content=@Team11ofc>
  <meta name="classification" content="Fantasy Sports Platform">
  <meta name="keywords"
    content="Fantasy Sports App, Fantasy Cricket App, Fantasy Cricket, Fantasy Football, Fantasy Football App, Fantasy Basketball, Fantasy Basketball App, Online Gaming App, Earning App, Fantasy Game App, Online Earning App, Real Money App, Money Earning App, Play & Earn, Team11, Team11 App, Team11 APK, Download Team11, Best Fantasy app, Online money Earning App, Real Money  App">
</head>

<body>

  <header>

    <nav class="navbar navbar-expand-lg navbar-light transprant_header">
      <div class="container">
       <a  class="navbar-brand" href="#">
          <img src="static/assets/web/images/krinik_logo.png" width="50px" alt="Main Logo">
          <img src="static/assets/web/images/krinik_in_logo.png" width="100px" alt="Secondary Logo" class="ml-2">
        </a>

        <button class="navbar-toggler" target="_blank" type="button" data-toggle="collapse"
          data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="basicExampleNav">

          <ul class="navbar-nav ml-auto nev_left">

            <li class="nav-item ">
              <a class="nav-link" href="{% url 'about' %}">About us</a>
            </li>
 

            <li class="nav-item ">
              <a class="nav-link" href="{% url 'Faq' %}">FAQ's</a>
            </li>
            <li class="nav-item">
              <a class="download-btn download for iOS" target="_blank" href="{% static 'assets/app-release.apk' %}"
                onclick>Download App</a>
            </li>
          </ul>

        </div>
      </div>
    </nav>

  </header>
  <div class="main_banner" style="background-image: url(static/assets/web/images/banner_bg.jpg);">
    <!-- <img src="static/assets/web/images/banner_bg.jpg" alt="image"> -->
    <!-- <div class=" d-flex justify-content-center align-items-center banner">
      <div class="container">
        <div class="banner_inner">
          <div class="row align-items-center">
            <div class="col-md-7 banner_left">
              <div class="text-center"><img src="static/assets/web/images/OFFICIAL.png" alt class="img-fluid"></div>

              <div class="speciality features_section">
                <ul>
                  <li>
                    <div class="media align-items-center">
                      <div class="media-left mr-3">
                        <img src="static/assets/web/images/achievement_icon1.png" class="img-fluid">
                      </div>
                      <div class="media-right">
                        <h3>10M +</h3>
                        <p>Trusted Users</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media align-items-center">
                      <div class="media-left mr-3">
                        <img src="static/assets/web/images/achievement_icon3.png" class="img-fluid">
                      </div>
                      <div class="media-right">
                        <h3>200+</h3>
                        <p>Daily contests</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media align-items-center">
                      <div class="media-left mr-3">
                        <img src="static/assets/web/images/achievement_icon4.png" class="img-fluid">
                      </div>
                      <div class="media-right">
                        <h3>₹ 50 crore+</h3>
                        <p>Daily Winnings</p>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="media align-items-center">
                      <div class="media-left mr-3">
                        <img src="static/assets/web/images/achievement_icon2.png" class="img-fluid">
                      </div>
                      <div class="media-right">
                        <h3>Lowest</h3>
                        <p>Entry Fee</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

            </div>

            <div class="col-md-5">
              <div class="app_screen">
                <div><img src="static/assets/web/images/csk_banner.png" alt class="img-fluid"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>

  <!-- Why choose Team11 -->
  <section class="why_choose">
    <div class="container">
      <div class="row align-items-center flex-row-reverse">

        <div class="col-xl-8 col-lg-8 col-md-8 py-5">
          <h1 class="title">Why is <span>Krinik In</span> most popular?</h1>
          <p>What makes Krinik In so interesting? Why has it become so popular
            with cricket lovers? Here are some reasons
            for the ever-growing popularity of our fantasy cricket
            platform..</p>

          <div class="row">

            <div class="col-md-6">
              <div class="feature_card media">
                <div class="media-left">
                  <div class="featuer_icon">
                    <img src="static/assets/web/images/feature_icon1.png" alt class="img-fluid">
                  </div>
                </div>
                <div class="media-body">
                  <h4>Budget-friendly Leagues</h4>
                  <p>It comprises global leagues with a series of contests
                    starting at just Rs 20.</p>
                </div>
              </div>
            </div>

            <!-- <div class="col-md-6">
              <div class="feature_card media">
                <div class="media-left">
                  <div class="featuer_icon">
                    <img src="static/assets/web/images/feature_icon2.png" alt class="img-fluid">
                  </div>
                </div>
                <div class="media-body">
                  <h4>Live Fantasy</h4>
                  <p>Play alongside live cricket matches by creating a block
                    of 5 overs.</p>
                </div>
              </div>
            </div> -->

            <div class="col-md-6">
              <div class="feature_card media">
                <div class="media-left">
                  <div class="featuer_icon">
                    <img src="static/assets/web/images/feature_icon3.png" alt class="img-fluid">
                  </div>
                </div>
                <div class="media-body">
                  <h4>Refer & Earn</h4>
                  <p>You can earn  by inviting others to play using your
                    unique invite code.</p>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="feature_card media">
                <div class="media-left">
                  <div class="featuer_icon">
                    <img src="static/assets/web/images/feature_icon4.png" alt class="img-fluid">
                  </div>
                </div>
                <div class="media-body">
                  <h4>Instant Withdrawals</h4>
                  <p>Enjoy instant cash withdrawals after one-time account
                    verification.</p>
                </div>
              </div>
            </div>
<!-- 
            <div class="col-md-6">
              <div class="feature_card media">
                <div class="media-left">
                  <div class="featuer_icon">
                    <img src="static/assets/web/images/feature_icon5.png" alt class="img-fluid">
                  </div>
                </div>
                <div class="media-body">
                  <h4>Second Innings Contest</h4>
                  <p>Now, create your fantasy teams even for the second
                    innings of a match.</p>
                </div>
              </div>
            </div> -->

            <div class="col-md-6">
              <div class="feature_card media">
                <div class="media-left">
                  <div class="featuer_icon">
                    <img src="static/assets/web/images/feature_icon6.png" alt class="img-fluid">
                  </div>
                </div>
                <div class="media-body">
                  <h4>Regular Deals & Discounts</h4>
                  <p>within contests for your availment.</p>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="feature_card media">
                <div class="media-left">
                  <div class="featuer_icon">
                    <img src="static/assets/web/images/feature_icon7.png" alt class="img-fluid">
                  </div>
                </div>
                <div class="media-body">
                  <h4>Batting Contest</h4>
                  <p><strong>Batting:</strong> Choose your 6-8 players who will
                    score most runs.</p>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="feature_card media">
                <div class="media-left">
                  <div class="featuer_icon">
                    <img src="static/assets/web/images/feature_icon8.png" alt class="img-fluid">
                  </div>
                </div>
                <div class="media-body">
                  <h4>Multiple Winners</h4>
                  <p>create your team and multiple winners in the contest</p>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="feature_card media">
                <div class="media-left">
                  <div class="featuer_icon">
                    <img src="static/assets/web/images/feature_icon9.png" alt class="img-fluid">
                  </div>
                </div>
                <div class="media-body">
                  <h4>Single Player</h4>
                  <p>Every single player win price - 1x.</p>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="feature_card media">
                <div class="media-left">
                  <div class="featuer_icon">
                    <img src="static/assets/web/images/multi_join.png" alt class="img-fluid">
                  </div>
                </div>
                <div class="media-body">
                  <h4>Caption And Vise Caption</h4>
                  <p>Caption will get the 2x runs & Vice Caption will get 1.5x runs</p>
                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 pt-5">
          <img src="static/assets/web/images/New_Bat.png" alt class="img-fluid">
        </div>

      </div>
    </div>
  </section>
  <!-- Why choose Team11 -->

  <section class="wy-choose join_bg">
    <div class="container">
      <div class="section-heading">
        <h2 data-aos="fade-down" class="title mb-5 text-center">
          It's easy to start playing on
          <span class="color-yellow">Krinik In</span>
        </h2>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="join">
            <div class="join-box">
              <img src="static/assets/web/images/how_to_play_step1.png" class="img-fluid join_img" data-aos="fade-right"
                alt="join_img" />
              <p data-aos="fade-up">
                Create an account in just a few minutes.
              </p> 
            </div>
            <div class="join-box">
              <img src="static/assets/web/images/how_to_play_step2.png" class="img-fluid join_img" data-aos="fade-bottom"
                alt="join_img" />
              <p data-aos="fade-up">
                Create your own team by selecting different players within a
                defined virtual credit points.
              </p>
            </div>
            <div class="join-box">
              <img src="static/assets/web/images/how_to_play_step3.png" class="img-fluid join_img" data-aos="fade-left"
                alt="join_img" />
              <p data-aos="fade-up">
                Caption will get the 2x runs & Vice Caption will get 1.5x runs
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="appie-testimonial-about-area">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="appie-section-title text-center">
            <h1 class="title">What Our Users Say</h1>
            <p class="sub_title pb-4">Being a renowned Fantasy Sports
              Platform, we are recommended by many of users.
              Here, check out what they say.</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="testimonial-about-slider-active">

            <div class="testimonial-box">
              <!-- <div class="thumb">
                <img src="static/assets/web/images/img1.jpg" class="rounded-circle z-depth-1 img-fluid">
              </div>
              <div class="winning_amount"><span>WON ₹2 Cr</span></div> -->
              <!-- <h5>Vinay jain</h5>
              <h6>Jalgaon, Maharashtra</h6> -->
              <p>I won many times in krinik in contest it is much more than a passion
                For me. Cricket is life Thats why I
                Like Playing On krinik in So Much. Due to less competition, I am
                earning a lot of money from it.</p>
            </div>

            <div class="testimonial-box">
              <!-- <div class="thumb">
                <img src="static/assets/web/images/img2.jpg" class="rounded-circle z-depth-1 img-fluid">
              </div>
              <div class="winning_amount"><span>WON ₹2 Cr</span></div> -->
              <!-- <h5>Rahul singh</h5>
              <h6>Ayodhya, Uttar pardesh</h6> -->
              <p>One of the best fantasy platform for fantasy lover I am
                really enjoying Krinik In a lot Most importantly,
                it charges the lowest entry fee as compared to others ..<br>
                And providing many giveaway leaderboard</p>
            </div>

            <div class="testimonial-box">
              <!-- <div class="thumb">
                <img src="static/assets/web/images/img3.jpg" class="rounded-circle z-depth-1 img-fluid">
              </div>
              <div class="winning_amount"><span>WON ₹9 Cr</span></div> -->
              <!-- <h5>Sarifmax</h5>
              <h6>North 24 Pargana, West Bangal</h6> -->
              <p>I have been playing Krinik In from a long time and one thing I can
                say for sure is that if you want to win
                big then definitely play on Krinik In. It takes me a lot of time
                to study teams and players, and my hard
                work helped me win contests. Thanks to Krinik In for making my
                dreams come true so far.</p>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <section class="download_app">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 pt-5">
          <div class="download_left">
            <h1 class="title">Download the <br>
              Krinik In now!</h1>
            <h2>Create team, join contests & win exciting cash prizes.</h2>
            <!-- <div class="download_app_btn pt-4">
              <a href="https://yourdomain.com/team11.apk" target="_blank" onclick
                class="mr-3 d-inline-block download for android">
                <img src="static/assets/web/images/red-android.svg" class="img-fluid">
              </a>
            </div> -->
          </div>
        </div>
        <div class="col-md-6 text-center pt-5">
          <img src="static/assets/web/images/Banner_update.jpg" alt class="img-fluid">
        </div>
      </div>
    </div>
  </section>
  <section class="faq_section">
    <div class="container">

      <div class="row">

        <div class="col-md-10 mx-auto">
          <div class="text-center pb-4">
            <h1 class="title">Krinik In FAQ’s</h1>
            <p class="sub_title">Clear your doubts related to the Fantasy
              Sports and Krinik In platform. </p>
          </div>

          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                    data-target="#collapseOne"><i class="fas fa-plus"></i>What
                    is Fantasy Cricket?</button>
                </h2>
              </div>
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                     <p>Cricket is not just a sport, it's a religion. From T10,T20 and ODI, you can join contests
                        for all formats of international cricket on Krinik In. Apart
                        from ICC matches and tournaments, users
                        can also play online cricket games from various cricket
                        leagues like the IPL - followed and played
                        across the world.</p>
                      <p>But how does one join and play a fantasy cricket match on
                        Krinik In? All you need to do is register
                        using  mobile number. An even
                        quicker way to sign up using your mobile number . The game comes with a set of
                        rules that are put in place to ensure
                        #FairPlay for everyone.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo"><i
                      class="fas fa-plus"></i> How do I sign up on
                    Krinik In?</button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                   <p>Easy breezy! Once you are on Krinik In, choose your sport
                        and register by filling out a short form, or
                        just log in with your phone number, name and email to play
                        and enjoy on our fantasy cricket platform.
                      </p>
                </div>
              </div>
            </div>



          </div>
        </div>
      </div>
  </section>
  <style>
    .download_app_btn img {
      min-width: 160px;
    }
  </style>
<!-- C:\Users\Tirth\Downloads\Krinik_project\Backend\myapp\static\assets\app-release.apk -->
  <!-- <div class="sticky_btns">
    <div style="margin: auto;" class="btnsbox">
      <a href="{% static 'assets/app-release.apk' %}" target="_blank" download="" onclick class="p-0 download for android">
        <img src="static/assets/web/images/red-android.svg" class="download for android">
      </a>
    </div>
  </div> -->

  <section class="achievement_section">
    <div class="container">

      <div class="features_section">
        <div class="row">
          <div class="col-6 col-lg-3 item1">
            <div class="media align-items-center">
              <div class="media-left mr-3">
                <img src="static/assets/web/images/achievement_icon1.png" class="img-fluid">
              </div>
              <div class="media-right">
                <h3>Many</h3>
                <p>Trusted Users</p>
              </div>
            </div>

          </div>

          <div class="col-6 col-lg-3 item2">
            <div class="media align-items-center">
              <div class="media-left mr-3">
                <img src="static/assets/web/images/achievement_icon2.png" class="img-fluid">
              </div>
              <div class="media-right">
                <h3>Lowest</h3>
                <p>Entry Fee</p>
              </div>
            </div>

          </div>

          <div class="col-6 col-lg-3 item3">
            <div class="media align-items-center">
              <div class="media-left mr-3">
                <img src="static/assets/web/images/achievement_icon3.png" class="img-fluid">
              </div>
              <div class="media-right">
                <h3>20+</h3>
                <p>Daily contests</p>
              </div>
            </div>
          </div>

          <div class="col-6 col-lg-3 item4">
            <div class="media align-items-center">
              <div class="media-left mr-3">
                <img src="static/assets/web/images/achievement_icon4.png" class="img-fluid">
              </div>
              <div class="media-right">
                <h3>Win</h3>
                <p>Daily Winnings</p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </section>
  <footer>
    <div class="copy_footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>Copyright © 2023 Krinik In. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="disclaimer_txt">
      <div class="container">
        <p><strong>Disclaimer:</strong> Krinik In is not affiliated in any way
          to and claims no association, in any
          capacity whatsoever, with the Residents of the states of SIKKIM,
          ASSAM, ODISHA, TELANGANA, NAGALAND, ANDHRA
          PRADESH and where otherwise prohibited by law are not eligible to
          enter Krinik In leagues.</p>

        <p>*The game involves an element of financial risk and may be
          addictive. Please play responsibly and at your own
          risk.</p>

        <p>*This game is applicable for users 18+ only.</p>
      </div>
    </div>

    <div class="copy_footer">
      <div class="container">
        <div class="row">
         <div class="nav" style="display: flex; justify-content:center; align-items:center; ">
          <ul style="display: flex; gap:10px;">
            <li> <a href="{% url 'Privacypolicy' %}">Privacy And Policy</a>
            </li>
            <li> <a href="{% url 'termandconditions' %}">Terms And Conditions</a>
            </li>
            <li> <a href="{% url 'Refundpolicy' %}">Refund policy</a>
            </li>
          </ul>
         </div>
        </div>
      </div>
    </div>


  </footer>
  <!-- Footer -->
  <!-- <div class="bottomMenu"><a href="Team11.apk" class="btn btn-block">Download App</a></div> -->

  <script type="text/javascript">
    window.NREUM || (NREUM = {});
    NREUM.info = {
      "beacon": "bam.eu01.nr-data.net",
      "licenseKey": "NRJS-a34d82e73a2f0a92bf3",
      "applicationID": "224839468",
      "transactionName": "MhBSZQoZWURYAkZRXwtacVIMEVhZFiBCSGwtAURBJDtYWU0TXVRcAAdDbQ8dVWtuBFB7XwsBQl4UFFJFeQhcXFUd",
      "queueTime": 0,
      "applicationTime": 23,
      "atts": "HldRE0IDSko=",
      "errorBeacon": "bam.eu01.nr-data.net",
      "agent": ""
    }
  </script>
</body>
<script src="static/assets/web/js/jquery-2.2.4.min.js"></script>
<script src="static/assets/web/js/popper.min.js"></script>
<script src="static/assets/web/bootstrap/js/bootstrap.min.js"></script>
<script src="static/assets/web/owl-carousel/dist/owl.carousel.min.js"></script>

<!--====== Slick js ======-->
<script src="static/assets/web/js/jquery.counterup.min.js"></script>
<script src="static/assets/web/js/waypoints.min.js"></script>

<!--====== Slick js ======-->
<script src="static/assets/web/js/slick.min.js"></script>

<script>
  $(document).ready(function () {
    // Add minus icon for collapse element which is open by default
    $(".collapse.show").each(function () {
      $(this).prev(".card-header").find(".fas").addClass("fa-minus").removeClass("fa-plus");
    });

    // Toggle chevron-down minus icon on show hide of collapse element
    $(".collapse").on('show.bs.collapse', function () {
      $(this).prev(".card-header").find(".fas").removeClass("fa-plus").addClass("fa-minus");
    }).on('hide.bs.collapse', function () {
      $(this).prev(".card-header").find(".fas").removeClass("fa-minus").addClass("fa-plus");
    });
  });
</script>
<script type="text/javascript">
  jQuery(document).ready(function ($) {
    var timelines = $('.cd-horizontal-timeline'),
      eventsMinDistance = 60;

    (timelines.length > 0) && initTimeline(timelines);

    function initTimeline(timelines) {
      timelines.each(function () {
        var timeline = $(this),
          timelineComponents = {};
        //cache timeline components
        timelineComponents['timelineWrapper'] = timeline.find('.events-wrapper');
        timelineComponents['eventsWrapper'] = timelineComponents['timelineWrapper'].children('.events');
        timelineComponents['fillingLine'] = timelineComponents['eventsWrapper'].children('.filling-line');
        timelineComponents['timelineEvents'] = timelineComponents['eventsWrapper'].find('a');
        timelineComponents['timelineDates'] = parseDate(timelineComponents['timelineEvents']);
        timelineComponents['eventsMinLapse'] = minLapse(timelineComponents['timelineDates']);
        timelineComponents['timelineNavigation'] = timeline.find('.cd-timeline-navigation');
        timelineComponents['eventsContent'] = timeline.children('.events-content');

        //assign a left postion to the single events along the timeline
        setDatePosition(timelineComponents, eventsMinDistance);
        //assign a width to the timeline
        var timelineTotWidth = setTimelineWidth(timelineComponents, eventsMinDistance);
        //the timeline has been initialize - show it
        timeline.addClass('loaded');

        //detect click on the next arrow
        timelineComponents['timelineNavigation'].on('click', '.next', function (event) {
          event.preventDefault();
          updateSlide(timelineComponents, timelineTotWidth, 'next');
        });
        //detect click on the prev arrow
        timelineComponents['timelineNavigation'].on('click', '.prev', function (event) {
          event.preventDefault();
          updateSlide(timelineComponents, timelineTotWidth, 'prev');
        });
        //detect click on the a single event - show new event content
        timelineComponents['eventsWrapper'].on('click', 'a', function (event) {
          event.preventDefault();
          timelineComponents['timelineEvents'].removeClass('selected');
          $(this).addClass('selected');
          updateOlderEvents($(this));
          updateFilling($(this), timelineComponents['fillingLine'], timelineTotWidth);
          updateVisibleContent($(this), timelineComponents['eventsContent']);
        });

        //on swipe, show next/prev event content
        timelineComponents['eventsContent'].on('swipeleft', function () {
          var mq = checkMQ();
          (mq == 'mobile') && showNewContent(timelineComponents, timelineTotWidth, 'next');
        });
        timelineComponents['eventsContent'].on('swiperight', function () {
          var mq = checkMQ();
          (mq == 'mobile') && showNewContent(timelineComponents, timelineTotWidth, 'prev');
        });

        //keyboard navigation
        $(document).keyup(function (event) {
          if (event.which == '37' && elementInViewport(timeline.get(0))) {
            showNewContent(timelineComponents, timelineTotWidth, 'prev');
          } else if (event.which == '39' && elementInViewport(timeline.get(0))) {
            showNewContent(timelineComponents, timelineTotWidth, 'next');
          }
        });
      });
    }

    function updateSlide(timelineComponents, timelineTotWidth, string) {
      //retrieve translateX value of timelineComponents['eventsWrapper']
      var translateValue = getTranslateValue(timelineComponents['eventsWrapper']),
        wrapperWidth = Number(timelineComponents['timelineWrapper'].css('width').replace('px', ''));
      //translate the timeline to the left('next')/right('prev')
      (string == 'next')
        ? translateTimeline(timelineComponents, translateValue - wrapperWidth + eventsMinDistance, wrapperWidth - timelineTotWidth)
        : translateTimeline(timelineComponents, translateValue + wrapperWidth - eventsMinDistance);
    }

    function showNewContent(timelineComponents, timelineTotWidth, string) {
      //go from one event to the next/previous one
      var visibleContent = timelineComponents['eventsContent'].find('.selected'),
        newContent = (string == 'next') ? visibleContent.next() : visibleContent.prev();

      if (newContent.length > 0) { //if there's a next/prev event - show it
        var selectedDate = timelineComponents['eventsWrapper'].find('.selected'),
          newEvent = (string == 'next') ? selectedDate.parent('li').next('li').children('a') : selectedDate.parent('li').prev('li').children('a');

        updateFilling(newEvent, timelineComponents['fillingLine'], timelineTotWidth);
        updateVisibleContent(newEvent, timelineComponents['eventsContent']);
        newEvent.addClass('selected');
        selectedDate.removeClass('selected');
        updateOlderEvents(newEvent);
        updateTimelinePosition(string, newEvent, timelineComponents, timelineTotWidth);
      }
    }

    function updateTimelinePosition(string, event, timelineComponents, timelineTotWidth) {
      //translate timeline to the left/right according to the position of the selected event
      var eventStyle = window.getComputedStyle(event.get(0), null),
        eventLeft = Number(eventStyle.getPropertyValue("left").replace('px', '')),
        timelineWidth = Number(timelineComponents['timelineWrapper'].css('width').replace('px', '')),
        timelineTotWidth = Number(timelineComponents['eventsWrapper'].css('width').replace('px', ''));
      var timelineTranslate = getTranslateValue(timelineComponents['eventsWrapper']);

      if ((string == 'next' && eventLeft > timelineWidth - timelineTranslate) || (string == 'prev' && eventLeft < - timelineTranslate)) {
        translateTimeline(timelineComponents, - eventLeft + timelineWidth / 2, timelineWidth - timelineTotWidth);
      }
    }

    function translateTimeline(timelineComponents, value, totWidth) {
      var eventsWrapper = timelineComponents['eventsWrapper'].get(0);
      value = (value > 0) ? 0 : value; //only negative translate value
      value = (!(typeof totWidth === 'undefined') && value < totWidth) ? totWidth : value; //do not translate more than timeline width
      setTransformValue(eventsWrapper, 'translateX', value + 'px');
      //update navigation arrows visibility
      (value == 0) ? timelineComponents['timelineNavigation'].find('.prev').addClass('inactive') : timelineComponents['timelineNavigation'].find('.prev').removeClass('inactive');
      (value == totWidth) ? timelineComponents['timelineNavigation'].find('.next').addClass('inactive') : timelineComponents['timelineNavigation'].find('.next').removeClass('inactive');
    }

    function updateFilling(selectedEvent, filling, totWidth) {
      //change .filling-line length according to the selected event
      var eventStyle = window.getComputedStyle(selectedEvent.get(0), null),
        eventLeft = eventStyle.getPropertyValue("left"),
        eventWidth = eventStyle.getPropertyValue("width");
      eventLeft = Number(eventLeft.replace('px', '')) + Number(eventWidth.replace('px', '')) / 2;
      var scaleValue = eventLeft / totWidth;
      setTransformValue(filling.get(0), 'scaleX', scaleValue);
    }

    function setDatePosition(timelineComponents, min) {
      for (i = 0; i < timelineComponents['timelineDates'].length; i++) {
        var distance = daydiff(timelineComponents['timelineDates'][0], timelineComponents['timelineDates'][i]),
          distanceNorm = Math.round(distance / timelineComponents['eventsMinLapse']) + 2;
        timelineComponents['timelineEvents'].eq(i).css('left', distanceNorm * min + 'px');
      }
    }

    function setTimelineWidth(timelineComponents, width) {
      var timeSpan = daydiff(timelineComponents['timelineDates'][0], timelineComponents['timelineDates'][timelineComponents['timelineDates'].length - 1]),
        timeSpanNorm = timeSpan / timelineComponents['eventsMinLapse'],
        timeSpanNorm = Math.round(timeSpanNorm) + 4,
        totalWidth = timeSpanNorm * width;
      timelineComponents['eventsWrapper'].css('width', totalWidth + 'px');
      updateFilling(timelineComponents['timelineEvents'].eq(0), timelineComponents['fillingLine'], totalWidth);

      return totalWidth;
    }

    function updateVisibleContent(event, eventsContent) {
      var eventDate = event.data('date'),
        visibleContent = eventsContent.find('.selected'),
        selectedContent = eventsContent.find('[data-date="' + eventDate + '"]'),
        selectedContentHeight = selectedContent.height();

      if (selectedContent.index() > visibleContent.index()) {
        var classEnetering = 'selected enter-right',
          classLeaving = 'leave-left';
      } else {
        var classEnetering = 'selected enter-left',
          classLeaving = 'leave-right';
      }

      selectedContent.attr('class', classEnetering);
      visibleContent.attr('class', classLeaving).one('webkitAnimationEnd oanimationend msAnimationEnd animationend', function () {
        visibleContent.removeClass('leave-right leave-left');
        selectedContent.removeClass('enter-left enter-right');
      });
      eventsContent.css('height', selectedContentHeight + 'px');
    }

    function updateOlderEvents(event) {
      event.parent('li').prevAll('li').children('a').addClass('older-event').end().end().nextAll('li').children('a').removeClass('older-event');
    }

    function getTranslateValue(timeline) {
      var timelineStyle = window.getComputedStyle(timeline.get(0), null),
        timelineTranslate = timelineStyle.getPropertyValue("-webkit-transform") ||
          timelineStyle.getPropertyValue("-moz-transform") ||
          timelineStyle.getPropertyValue("-ms-transform") ||
          timelineStyle.getPropertyValue("-o-transform") ||
          timelineStyle.getPropertyValue("transform");

      if (timelineTranslate.indexOf('(') >= 0) {
        var timelineTranslate = timelineTranslate.split('(')[1];
        timelineTranslate = timelineTranslate.split(')')[0];
        timelineTranslate = timelineTranslate.split(',');
        var translateValue = timelineTranslate[4];
      } else {
        var translateValue = 0;
      }

      return Number(translateValue);
    }

    function setTransformValue(element, property, value) {
      element.style["-webkit-transform"] = property + "(" + value + ")";
      element.style["-moz-transform"] = property + "(" + value + ")";
      element.style["-ms-transform"] = property + "(" + value + ")";
      element.style["-o-transform"] = property + "(" + value + ")";
      element.style["transform"] = property + "(" + value + ")";
    }

    //based on http://stackoverflow.com/questions/542938/how-do-i-get-the-number-of-days-between-two-dates-in-javascript
    function parseDate(events) {
      var dateArrays = [];
      events.each(function () {
        var dateComp = $(this).data('date').split('/'),
          newDate = new Date(dateComp[2], dateComp[1] - 1, dateComp[0]);
        dateArrays.push(newDate);
      });
      return dateArrays;
    }

    function parseDate2(events) {
      var dateArrays = [];
      events.each(function () {
        var singleDate = $(this),
          dateComp = singleDate.data('date').split('T');
        if (dateComp.length > 1) { //both DD/MM/YEAR and time are provided
          var dayComp = dateComp[0].split('/'),
            timeComp = dateComp[1].split(':');
        } else if (dateComp[0].indexOf(':') >= 0) { //only time is provide
          var dayComp = ["2000", "0", "0"],
            timeComp = dateComp[0].split(':');
        } else { //only DD/MM/YEAR
          var dayComp = dateComp[0].split('/'),
            timeComp = ["0", "0"];
        }
        var newDate = new Date(dayComp[2], dayComp[1] - 1, dayComp[0], timeComp[0], timeComp[1]);
        dateArrays.push(newDate);
      });
      return dateArrays;
    }

    function daydiff(first, second) {
      return Math.round((second - first));
    }

    function minLapse(dates) {
      //determine the minimum distance among events
      var dateDistances = [];
      for (i = 1; i < dates.length; i++) {
        var distance = daydiff(dates[i - 1], dates[i]);
        dateDistances.push(distance);
      }
      return Math.min.apply(null, dateDistances);
    }

    /*
      How to tell if a DOM element is visible in the current viewport?
      http://stackoverflow.com/questions/123999/how-to-tell-if-a-dom-element-is-visible-in-the-current-viewport
    */
    function elementInViewport(el) {
      var top = el.offsetTop;
      var left = el.offsetLeft;
      var width = el.offsetWidth;
      var height = el.offsetHeight;

      while (el.offsetParent) {
        el = el.offsetParent;
        top += el.offsetTop;
        left += el.offsetLeft;
      }

      return (
        top < (window.pageYOffset + window.innerHeight) &&
        left < (window.pageXOffset + window.innerWidth) &&
        (top + height) > window.pageYOffset &&
        (left + width) > window.pageXOffset
      );
    }

    function checkMQ() {
      //check if mobile or desktop device
      return window.getComputedStyle(document.querySelector('.cd-horizontal-timeline'), '::before').getPropertyValue('content').replace(/'/g, "").replace(/"/g, "");
    }
  });
</script>

<script>
  $(document).ready(function () {
    // Add minus icon for collapse element which is open by default
    $(".collapse.show").each(function () {
      $(this).prev(".card-header").find(".fas").addClass("fa-minus").removeClass("fa-plus");
    });

    // Toggle chevron-down minus icon on show hide of collapse element
    $(".collapse").on('show.bs.collapse', function () {
      $(this).prev(".card-header").find(".fas").removeClass("fa-plus").addClass("fa-minus");
    }).on('hide.bs.collapse', function () {
      $(this).prev(".card-header").find(".fas").removeClass("fa-minus").addClass("fa-plus");
    });
  });
</script>

<script type="text/javascript">
  $(document).scroll(function () {
    var y = $(this).scrollTop();
    if (y > 400) {
      $('.bottomMenu').fadeIn();
    } else {
      $('.bottomMenu').fadeOut();
    }

  });
</script>

<script type="text/javascript">
  var news_slider1 = jQuery('.testimonial-about-slider-active');
  news_slider1.slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 3000,
    arrows: false,
    dots: true,
    prevArrow: '<span class="prev"><i class="fas fa-arrow-left"></i></span>',
    nextArrow: '<span class="next"><i class="fas fa-arrow-right"></i></span>',
    fade: false
  });

</script>

<script type="text/javascript">
  $('.brand_ambassadors_slider').owlCarousel({
    loop: true,
    margin: 10,
    nav: true,
    dots: false,
    autoplay: true,
    responsiveClass: true,
    responsive: {
      0: {
        items: 2,
      },
      768: {
        items: 3,
      },
      992: {
        items: 4,
      },
      1200: {
        items: 5,
      }
    }
  })
</script>

</html>