{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="static/assets/web/owl-carousel/dist/./assets/owl.carousel.css"
    />
    <link
      rel="stylesheet"
      href="static/assets/web/owl-carousel/dist/./assets/owl.theme.default.min.css"
    />
    <link
      rel="stylesheet"
      href="static/assets/web/bootstrap/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="static/assets/web/fontawesome/css/all.css" />

    <link rel="stylesheet" href="static/assets/web/css/slick.css" />

    <link rel="stylesheet" href="static/assets/web/css/style.css_v=1.0.css" />
    <link
      rel="icon"
      href="static/assets/web/images/favicon.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="privacy">
      <h1>Privacy Policy</h1>


      <div>
        <h3>Introduction</h3>
        <p>
          Krinik In ("we," "us," or "our") respects your privacy and is
          committed to protecting your personal data. This Privacy Policy
          explains how we collect, use, disclose, and protect your information
          when you visit our website and use our Cricket Fantasy Game platform.
        </p>
      </div>
      <div>
        <h3>Information We Collect</h3>
        <p>
            We collect various types of information, including: </p>
            <ul>
            <li>Personal Information: Name, email address, contact details, and other information you provide during registration.</li>
            <li>
            	Usage Data: Information on how you interact with the platform, such as game preferences, rankings, and other activities.</li>
            <li>
        Device Information: Data about the devices you use to access our services, such as IP address, browser type, and operating system.
          </li>
      </ul>
       
      </div>
      <div>
        <h3> How We Use Your Information</h3>
        <p>
           <ul>
            <li>Provide and manage the fantasy gaming experience</li>
            <li>Process payments and manage accounts</li>
            <li>Send updates, promotions, and important notices.</li>
            <li>Analyze and improve platform features.</li>
           </ul>
            
        </p>
      </div>
      <div>
        <h3> Data Sharing and Disclosure</h3>
        <p>We do not sell or rent your data to third parties. However, we may share your data with:</p>
          <ul>
            <li>Service providers assisting us with operations (e.g., payment processing).</li>
            <li>Legal authorities when required by law</li>
            <li>Affiliates and subsidiaries for joint marketing efforts.</li>
          </ul>
      
      </div>
      <div>
        <h3>Security</h3>
        <p>
            We implement industry-standard measures to safeguard your data from unauthorized access and misuse.
        </p>
      </div>
      <div>
        <h3>Your Rights</h3>
        <p>
            Depending on your location, you may have rights regarding your data, such as access, correction, deletion, and restriction of processing. Contact us to exercise these rights.
        </p>
      </div>
      <div>
        <h3>Updates to this Privacy Policy</h3>
        <p>
            We may update this policy from time to time. You will be notified of any significant changes through email or via our platform.
        </p>
      </div>
      <div>
        <h3>Contact Us</h3>
        <p>If you have questions regarding our privacy practices, please contact us at support@krinikin.in.
        </p>
      </div>



    </div>

    <footer>
      <div class="copy_footer">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p>Copyright © 2023 Krinik In. All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="disclaimer_txt">
        <div class="container">
          <p>
            <strong>Disclaimer:</strong> Krinik In is not affiliated in any way
            to and claims no association, in any capacity whatsoever, with the
            Residents of the states of SIKKIM, ASSAM, ODISHA, TELANGANA,
            NAGALAND, ANDHRA PRADESH and where otherwise prohibited by law are
            not eligible to enter Krinik In leagues.
          </p>

          <p>
            *The game involves an element of financial risk and may be
            addictive. Please play responsibly and at your own risk.
          </p>

          <p>*This game is applicable for users 18+ only.</p>
        </div>
      </div>

      <div class="copy_footer">
        <div class="container">
          <div class="row">
           <div class="nav" style="margin:auto;">
            <ul style="display: flex; gap:10px;">
              <li> <a href="{% url 'Privacypolicy' %}">Privacy And Policy</a>
              </li>
              <li> <a href="{% url 'termandconditions' %}">Terms And Conditions</a>
              </li>
              <li> <a href="{% url 'Refundpolicy' %}">Refund policy</a>
              </li>
            </ul>
           </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
