{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="static/assets/web/owl-carousel/dist/./assets/owl.carousel.css"
    />
    <link
      rel="stylesheet"
      href="static/assets/web/owl-carousel/dist/./assets/owl.theme.default.min.css"
    />
    <link
      rel="stylesheet"
      href="static/assets/web/bootstrap/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="static/assets/web/fontawesome/css/all.css" />

    <link rel="stylesheet" href="static/assets/web/css/slick.css" />

    <link rel="stylesheet" href="static/assets/web/css/style.css_v=1.0.css" />
    <link
      rel="icon"
      href="static/assets/web/images/favicon.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="privacy">
      <h1>Refund Policy</h1>

      <div>
        <h3>General Policy</h3>
        <p>
          Krinik In aims to provide a fair and transparent experience for all
          our users. This Refund Policy outlines the conditions under which
          refunds may be issued for transactions made on our platform. By using
          our services, you agree to the terms of this policy.
        </p>
      </div>

      <div>
        <h3>Refund Eligibility</h3>

        <ul>
          <li>
            Ineligible Transactions: Payments made for in-game purchases, entry
            fees for contests, and other digital assets are generally
            non-refundable. Refunds are only considered under specific
            conditions as outlined below.
          </li>

          <li>
            Technical Issues: If a payment is unsuccessful or there are
            technical issues that result in an incomplete transaction, please
            contact us within 24 hours. We will work to either complete the
            transaction or issue a refund if deemed appropriate.
          </li>
        </ul>
      </div>
      <div>
        <h3>Specific Scenarios for Refunds</h3>
        <p>
          Refunds may be issued at our sole discretion under the following
          scenarios:
        </p>
        <ul>
          <li>
            Duplicate Transactions: If you are charged twice for the same
            transaction, contact support within 24 hours. Upon verification, we
            will process a refund for the duplicate payment.
          </li>
          <li>
            Cancelled Contests: If a contest is canceled by Krinik In due to
            technical issues or lack of participation, all entry fees for the
            canceled contest will be refunded to your account balance.
          </li>
          <li>
            Unauthorized Payments: If you believe an unauthorized payment has
            been made on your account, report it immediately. Refund eligibility
            for unauthorized payments will be determined based on our
            investigation.
          </li>
        </ul>
      </div>
      <div>
        <h3>Process for Requesting a Refund</h3>
        <p>
          To request a refund, please contact our support team at
          support@krinikin.in with the following information:
        </p>
        <ul>
          <li>Username and registered email address.</li>
          <li>Transaction ID or proof of payment..</li>
          <li>Reason for requesting a refund.</li>
        </ul>
        <p>
          Our team will review and respond to your request within 7 business
          days.
        </p>
      </div>
      <div>
        <h3>Refund Method</h3>
        <p>
          Approved refunds will generally be credited back to the original
          payment method within 7–10 business days, depending on your bank or
          payment provider.
        </p>
      </div>
      <div>
        <h3>Non-Refundable Situations</h3>
        <p>Refunds will not be provided for:</p>
        <ul>
          <li>
            Any entry fees for contests completed without technical issues.
          </li>
          <li>
            Situations where a user is found violating our Terms & Conditions,
            leading to account suspension or disqualification.
          </li>
          <li>
            User change of mind or any dissatisfaction after contest results
            have been declared.
          </li>
        </ul>
      </div>
      <div>
        <h3>Changes to this Refund Policy</h3>
        <p>
          We reserve the right to modify this Refund Policy at any time. Changes
          will be posted on this page, and continued use of the Platform
          constitutes acceptance of the revised policy
        </p>
      </div>
      <div>
        <h3>Contact Us</h3>
        <p>
          If you have any questions about this policy, please reach out to our
          support team at support@krinikin.in
        </p>
      </div>
    </div>

    <footer>
      <div class="copy_footer">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p>Copyright © 2023 Krinik In. All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="disclaimer_txt">
        <div class="container">
          <p>
            <strong>Disclaimer:</strong> Krinik In is not affiliated in any way
            to and claims no association, in any capacity whatsoever, with the
            Residents of the states of SIKKIM, ASSAM, ODISHA, TELANGANA,
            NAGALAND, ANDHRA PRADESH and where otherwise prohibited by law are
            not eligible to enter Krinik In leagues.
          </p>

          <p>
            *The game involves an element of financial risk and may be
            addictive. Please play responsibly and at your own risk.
          </p>

          <p>*This game is applicable for users 18+ only.</p>
        </div>
      </div>

      <div class="copy_footer">
        <div class="container">
          <div class="row">
            <div
              class="nav"
      style="margin: auto;"
            >
              <ul style="display: flex; gap: 10px">
                <li><a href="{% url 'Privacypolicy' %}">Privacy And Policy</a></li>
                <li>
                  <a href="{% url 'termandconditions' %}">Terms And Conditions</a>
                </li>
                <li>
                  <a href="{% url 'Refundpolicy' %}">Terms And Conditions</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
