{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/assets/web/owl-carousel/dist/./assets/owl.carousel.css">
    <link rel="stylesheet" href="static/assets/web/owl-carousel/dist/./assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="static/assets/web/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/web/fontawesome/css/all.css">
  
    <link rel="stylesheet" href="static/assets/web/css/slick.css">
  
    <link rel="stylesheet" href="static/assets/web/css/style.css_v=1.0.css">
    <link rel="icon" href="static/assets/web/images/favicon.png" type="image/x-icon">
</head>
<body>
    


    <div class="privacy">
        <h1>Terms And Conditions</h1>
  
  
        <div>
          <h3>Acceptance of Terms</h3>
          <p>
            By accessing and using Krinik In ("the Platform"), you agree to abide by these Terms and Conditions. If you disagree with any part of the terms, you should not use our platform.
          </p>
        </div>
        <div>
          <h3>Eligibility</h3>
          <p>
            Only individuals aged 18 or above may use this platform. Users are responsible for complying with local laws regarding online fantasy gaming. </p>
            
         
        </div>
        <div>
          <h3> Account Registration</h3>
          <p>
            To access certain features, you must create an account. You are responsible for maintaining the confidentiality of your login details and for all activities that occur under your account
          </p>
        </div>
        <div>
          <h3> Fantasy Game Rules</h3>
         
            <ul>
              <li>Game Mechanics: Points are awarded based on real-life player performances. The game format, scoring system, and other rules may change at our discretion</li>
       
              <li>Prohibited Conduct: Users are prohibited from using any unfair advantage, including but not limited to, bots, scripts, and fraudulent activities.</li>

              <li>Price will depend on number of players.</li>

              <li>Price will depends on ground.</li>

              <li>Depends on the opponent teams.</li>

              <li>Depends on the batting line.</li>

              <li>Depends on the opposite bowling line.</li>

              <li>If there are multi pair on winning prize then winning amount wll be divided.</li>

              <li>Prohibited Conduct: Users are prohibited from using any unfair advantage, including but not limited to, bots, scripts, and fraudulent activities.</li>

              <li>If any pair win then all number of users will win that amount.</li>

             <li>If a player retired hurt due to unfitness and returns to bat after some time, the runs scored will be counted.</li>
             
             <li>If a super over comes after the match is tied, the runs of the super over will not be counted.</li>
            </ul>
        
        </div>
        <div>
          <h3>Payment and Withdrawals</h3>
          <p>
            <ul>
                <li>All payments made to the Platform are non-refundable unless stated otherwise.</li>
                <li>Withdrawals of winnings are subject to identity verification and may have minimum thresholds and processing fees.</li>
            </ul>
          </p>
        </div>
        <div>
          <h3>Intellectual Property</h3>
          <p>
            All content, including logos, designs, text, and software, is owned by or licensed to Krinik In Unauthorized use of our intellectual property is strictly prohibited..
          </p>
        </div>
        <div>
          <h3>Limitation of Liability</h3>
          <p>
            Krinik In is not liable for any damages resulting from your use of the Platform, including financial losses, regardless of whether such damages were foreseeable.
          </p>
        </div>
        <div>
          <h3>Termination</h3>
          <p>We reserve the right to suspend or terminate your account for violating these Terms or engaging in fraudulent or abusive activities
          </p>
        </div>
        <div>
          <h3>Governing Law</h3>
          <p>These Terms are governed by the laws of India/Gujarat Any disputes arising out of or relating to these terms will be resolved by arbitration in [Your Jurisdiction].
          </p>
        </div>
        <div>
          <h3>Amendments</h3>
          <p>We may revise these Terms from time to time. Changes will be posted on this page, and continued use of the Platform constitutes acceptance of the revised Terms.
          </p>
        </div>
  <div>
    <h3>Contact us</h3>
    <p>For questions or assistance with these Terms, please contact support@krinikin.in.</p>
  </div>
  
  
      </div>




    <footer>
        <div class="copy_footer">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <p>Copyright © 2023 Krinik In. All Rights Reserved.</p>
              </div>
            </div>
          </div>
        </div>
    
        <div class="disclaimer_txt">
          <div class="container">
            <p><strong>Disclaimer:</strong> Krinik In is not affiliated in any way
              to and claims no association, in any
              capacity whatsoever, with the Residents of the states of SIKKIM,
              ASSAM, ODISHA, TELANGANA, NAGALAND, ANDHRA
              PRADESH and where otherwise prohibited by law are not eligible to
              enter Krinik In leagues.</p>
    
            <p>*The game involves an element of financial risk and may be
              addictive. Please play responsibly and at your own
              risk.</p>
    
            <p>*This game is applicable for users 18+ only.</p>
          </div>
        </div>
    
        <div class="copy_footer">
            <div class="container">
              <div class="row">
               <div class="nav" style="margin:auto; ">
                <ul style="display: flex; gap:10px;">
                  <li> <a href="{% url 'Privacypolicy' %}">Privacy And Policy</a>
                  </li>
                  <li> <a href="{% url 'termandconditions' %}">Terms And Conditions</a>
                  </li>
                  <li> <a href="{% url 'Refundpolicy' %}">Refund policy</a>
                  </li>
                </ul>
               </div>
              </div>
            </div>
          </div>
      </footer>

</body>
</html>